
/**
 * Home > Content > Faces in Nursing
 */

#home {
    clear: both;
}



/**
 * Home > Action Items
 */

#home #action-items {
  clear: both;
  width: 860px;
  height: 80px;
  overflow: hidden;
  margin-top: 16px;
  text-align: center;
}

#home #action-items ul li {
  float: left;
  padding-right: 20px;
}

#home #action-items ul li.last {
  padding: 0;
}


#search-block-form{
    float: right;
    padding-bottom: 8px;
    margin-right: 20px;
    margin-top: 21px;
}

#search-block-form input#edit-search-block-form--2{
    width: 200px;
    border: 1px solid #adacb4;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 2px;
}

#search-block-form #edit-submit{
	background: url("../images/buttons/search.gif");
    font-size: 0px;
    background-repeat: no-repeat;
    padding: 15px 42px 6px 20px;
    border: none;
}

