
/**
 * Home > Content > Faces in Nursing
 */

#home {
    clear: both;
}



/**
 * Home > Action Items
 */

#home #action-items {
  clear: both;
  width: 860px;
  height: 80px;
  overflow: hidden;
  margin-top: 16px;
  text-align: center;
}

#home #action-items ul li {
  float: left;
  padding-right: 20px;
}

#home #action-items ul li.last {
  padding: 0;
}


#search-block-form{
    float: right;
    padding-bottom: 8px;
    margin-right: 20px;
    margin-top: 21px;
}

#search-block-form input#edit-search-block-form--2{
    width: 200px;
    border: 1px solid #adacb4;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 2px;   
    margin-right: 2px;
}

#search-block-form .form-submit{
	background: url("../images/buttons/search.gif");
    font-size: 0px;
    background-repeat: no-repeat;
    padding: 15px 42px 6px 20px;
    border: none;
    cursor:pointer;
}
#search-form  .form-submit{
	background: url("../images/buttons/search.gif");
    font-size: 0px;
    background-repeat: no-repeat;
    padding: 15px 42px 6px 20px;
    border: none;
    cursor:pointer;
}
/** news block **/

#block-block-1{
	background: #acb852;
    border: 3px solid #DBEB69;
    margin-top: 10px;
    padding-bottom: 7px;
}

#sidebar-second .region-sidebar-second{
	float: right;
    width: 280px;
}

#block-block-1 h2{
	color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 7px;
    text-transform: uppercase;
    padding: 0px;
    line-height: 13px;
}

#block-block-1 .content{
	background: #fff;
    padding: 5px 10px 10px 10px;
    border: 1px solid #ababab;
    color: #666;
    margin: 0 7px;
}

/** mailing block **/

#block-block-2{
	background: #8faec0;
    border: 3px solid #e6e6e6;
    margin-top: 10px;
}

#sidebar-second h2{
	color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 7px;
    text-transform: uppercase;
    padding: 0px;
    line-height: 13px;
}

#block-block-2 #mailing-list-form{
	background: #9ec3d5;
    color: #fff;
    padding: 10px;
}

#block-block-2 form p {
    margin: 0 0 10px 0;
}
#block-block-2 form fieldset label {
    display: block;
    margin-bottom: 4px;
    text-align: right;
}

#block-block-2 form fieldset label input {
    width: 175px;
    border: 1px solid #adacb4;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 2px;
}
#block-block-2 form fieldset {
    text-align: right;
}
#block-block-2 {
    background: #8faec0;
    border: 3px solid #e6e6e6;
    margin-top: 10px;
}
