
/**
 * IE6
 */
 
#header form {
  width: 315px;
}

#nav ul li a {
  float: left;
}

#courses {
  padding-bottom: 7px;
}

#events div.event-calendar table caption a {
  width: 78%;
}

#home #action-items {
  margin-top: 0;
}

#sub #sidebar #twitter div.follow {
  top: 12px;
}
