
/**
 * Sub > Sidebar > Subnav
 */

#sub #sidebar .block-local_menu {
  background: #ea8d30;
  border: 1px solid #ea8d30;
}

#sub #sidebar .block-local_menu h3 {
  background: url(../images/sub/subnav/down.gif) right center no-repeat;
}

#sub #sidebar .block-local_menu .content ul.menu {
  background: #fff;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

#sub #sidebar .block-local_menu .content ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#sub #sidebar .block-local_menu .content ul.menu li a {
  background: url(../images/sub/subnav/arrows.gif) 10px 10px no-repeat;
  color: #908e79;
  display: block;
  font-size: 13px;
  height: 1%; /* IE6 */
  padding: 4px 20px;

}

#sub #sidebar .block-local_menu .content ul.menu li a:hover {
  color: #ea8d30;
}

#sub #sidebar .block-local_menu ul.menu li.active-trail {
  background: #f4f3f1;
}

#sub #sidebar .block-local_menu ul.menu li.active-trail a {
  background: url(../images/sub/subnav/arrows.gif) 10px 10px no-repeat;
  color: #908e79;
}

#sub #sidebar .block-local_menu ul.menu li.active-trail a:hover {
  color: #ea8d30;
}

#sub #sidebar .block-local_menu ul.menu li.active-trail a.active {

}

#sub #sidebar .block-local_menu ul.menu li.active-trail ul {
  background: #f4f3f1;
}

#sub #sidebar .block-local_menu ul.menu li.active-trail ul li a {
  background: none;
  color: #ea8d30;
  font-size: 12px;
  line-height: normal;
  padding: 4px 24px;
}


/**
 * Sub > Sidebar > Twitter
 */

#sub #sidebar #twitter {
  position: relative;
  background: #8f8e79;
  border: 3px solid #e6e6e6;
  margin-top: 20px;
}

#sub #sidebar #twitter ul {
  background: #f6f6f6;
  padding: 1px;
}

#sub #sidebar #twitter ul li p {
  margin: 14px;
}

#sub #sidebar #twitter ul li p a {
  color: #908e79;
}

#sub #sidebar #twitter div.follow {
  position: absolute;
  width: 33px;
  height: 31px;
  top: 9px;
  right: 10px;
}


/**
 * Sub > Sidebar > Bookmarks
 */

#sub #sidebar #bookmarks {
  position: relative;
  background: #8f8e79;
  border: 3px solid #e6e6e6;
  margin-top: 20px;
}

#sub #sidebar #bookmarks ul {
  width: auto;
  height: 200px;
  overflow: hidden;
  background: #fff;
  padding: 1px 1px 15px 1px;
}

#sub #sidebar #bookmarks ul li {
  float: left;
  margin: 16px 0 0 15px;
  display: inline; /* IE6 */
}
